<!DOCTYPE html>
<html>
<head>
    <title>DaBook Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/client_styles/assets/css/payment.css">
    <link
      rel="stylesheet"
      href="/client_styles/assets/fonts/themify-icons/themify-icons.css"/>
    <link
      rel="stylesheet"
      href="/client_styles/assets/fonts/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>

</style>
<body>
    <div class="cart__container ">
        <div class="col-8  shipping__info">
            <div class="shipping__address--header ">
                <h3>Địa chỉ giao hàng</h3>
                <a href="">Thay đổi</a>
            </div>
            <div class="shipping__info--user">
                <span> <i class="far fa-id-badge" style="color: rgb(0, 132, 255); padding: 10px;"></i> {{client_accounts.hoten}}</span>
                <span>{{client_accounts.sodt}}</span>
            </div>
            <span> <i class="ti-location-pin" style="color: rgb(0, 132, 255); padding: 8px"></i> {{client_accounts.diachigoc}}</span>
        </div>

        <div class="col-8 bill__info">
            <div class="shipping__address--header " style="padding: 10px;">
                <span style="font-size: 1.6rem;">Được giao bởi <i style="color: rgb(0, 132, 255);">DaBookStore</i> </span>
            </div>
            <div class="bill__info--product">
                <div class="col-6 col-pro layout-inline">
                    <img class="cart__img" src="https://rigo.vn/wp-content/uploads/2018/06/74_HarryPottertap7HarryPottervaBaoboiTuthan_rigo.jpg"alt="">
                    <p class="item__name">Harry Potter và bảo bối tử thần Harry Potter và bảo bối tử thần Harry Potter và bảo bối tử thần Harry Potter và bảo bối tử thần</p>
                </div>

                <div class="col col-price ">
                    <span>Số lượng: 1</span>
                </div>
                
                <div class="col col-price  ">
                    <span>179.000 đ</span>
                </div>
            </div>
            <div class="bill__info--time">
                <span>Giao vào: Thứ 2, 15/11/2021</span>
                <span style="color: #333; padding: 0 10px">Được giao bởi <img class="delivery__logo" src="/client_styles/assets/img/delivery.png" alt=""></span>
            </div>
        </div>

        <div class="col-8  payment__info">
            <div class="payment__address--header ">
                <h2>Chọn hình thức thanh toán</h2>
            </div>
            <div class="payment__info--selection">
                <input name="pay" type="radio" value="live"/> <img class="pay__img" src="/client_styles/assets/img/pay.png" alt=""> Thanh toán bằng tiền mặt khi nhận hàng
            </div>
            <div class="payment__info--selection">
                <input name="momo" type="radio" value="momo"/> <img class="pay__img" src="/client_styles/assets/img/MoMo_Logo.png" alt=""> Thanh toán trực tuyến qua ví Momo
            </div>
        </div>

        <div class="col-4 border" style="padding-top:80px;">
            <div class="cart-store">
                <img class="cart-logo-img" src="/client_styles/assets/img/logo.png" alt="">
                <span class="cart-label">DaBook Store</span>
            </div>
            
            <div class="cart-detail">
                
                <div class="cart-delivery" style="padding: 5px 0 4px;"> 
                    <p style="font-weight: 400; font-size: 1.8rem; color: #444;">Thông tin đơn hàng</p>
                </div>
                <div class="cart-delivery" style="padding: 2px 0;">
                    <span style="color: #666;">Tạm tính </span>
                    <span style="color: #666;">(0) sản phẩm </span>
                </div>
                <div class="cart-delivery" style="padding: 6px 0 14px;">
                    <span style="color: #666;">Phí giao hàng</span>
                    <span style="color: #666;">40.000 đ</span>
                </div>
                <ul class="list-cart">
                    <li class="list-cart-item">
                        <div class="input__sale">
                            <input class="form__code-sale" id="input__code-sale" type="input" placeholder="Nhập mã khuyến mãi">
                            <button type="submit" class="btn__apply" id="apply" >Áp dụng</button>
                        </div>
                        <div class="cart__sale">
                            <span>Giảm giá:</span>
                            <span>0 đ</span>
                        </div>
                        <div class="cart__total">
                            <span>Tổng tiền:</span>
                            <span>197.000đ</span>
                        </div>
                    </li>

                </ul>
            </div>

            <a href="">
                <button type="submit" class="btn__buy-book" id="buy" >Đặt sách</button>
            </a>
            
        </div>  
    </div>
</body>
</html>
