<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-sm-4 col-md col-sm-4 col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">CHĂM SÓC KHÁCH HÀNG</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://webenlance.com">Các câu hỏi thường gặp</a></li>
          <li><a href="http://webenlance.com">Gửi yêu cầu hỗ trợ</a></li>
          <li><a href="http://webenlance.com">Hướng dẫn đặt hàng</a></li>
          <li><a href="http://webenlance.com">Phương thức vận chuyển</a></li>
          <li><a href="http://webenlance.com">Chính sách đổi trả</a></li>
        </ul>
        <p><i class="fa fa-phone"></i> +1900 1529 </p>
        <p><i class="fa fa fa-envelope"></i> dabook@book.com </p>
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">GIỚI THIỆU</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://webenlance.com">Điều khoản sử dụng</a></li>
          <li><a href="http://webenlance.com">Chính sách bảo mật thanh toán</a></li>
          <li><a href="http://webenlance.com">Chính sách bảo mật thông tin</a></li>
          <li><a href="http://webenlance.com">Chính sách giải quyết khiếu nại</a></li>
          <li><a href="http://webenlance.com">Giới thiệu xu</a></li>
          <li><a href="http://webenlance.com">Chính sách bán hàng</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">TÀI KHOẢN CỦA TÔI</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="http://webenlance.com">Đăng nhập</a></li>
          <li><a href="http://webenlance.com">Đăng ký</a></li>
          <li><a href="http://webenlance.com">Thay đổi địa chỉ giao hàng</a></li>
          <li><a href="http://webenlance.com">Chi tiết tài khoản</a></li>
          <li><a href="http://webenlance.com">Lịch sử mua hàng</a></li>
          <li><a href="http://webenlance.com">Điểm tích lũy</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
      </div>

      <div class="col-sm-4 col-md col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">THEO DÕI CHÚNG TÔI</h5>
        <!--headin5_amrc ends here-->

        <ul class="footer_ul2_amrc">
          <li><a href="#"><i
                class="fab fa-facebook fleft padding-right"
              ></i></a><p>Theo dõi chúng tôi tại địa chỉ:
              <a href="#">https://www.facebook.com/</a></p></li>
          <li><a href="#"><i
                class="fab fa-linkedin fleft padding-right"
              ></i></a><p>Theo dõi chúng tôi tại địa chỉ:
              <a href="#">https://www.linkedin.com/</a></p></li>
          <li><a href="#"><i
                class="fab fa-twitter fleft padding-right"
              ></i></a><p>Theo dõi chúng tôi tại địa chỉ:
              <a href="#">https://www.twitter.com/</a></p></li>
          <li><a href="#"><i
                class="fab fa-instagram fleft padding-right"
              ></i></a><p>Theo dõi chúng tôi tại địa chỉ:
              <a href="#">https://www.instagram.com/</a></p></li>
        </ul>
        <!--footer_ul2_amrc ends here-->
      </div>
    </div>
  </div>

  <div class="container">
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">2021 | Bản quyền thuộc về công ty
      <a href="#">DaBook - DaBook.com</a></p>

    <ul class="social_footer_ul">
      <li><a href="http://webenlance.com"><i
            class="fab fa-facebook-f"
          ></i></a></li>
      <li><a href="http://webenlance.com"><i
            class="fab fa-twitter"
          ></i></a></li>
      <li><a href="http://webenlance.com"><i
            class="fab fa-linkedin"
          ></i></a></li>
      <li><a href="http://webenlance.com"><i
            class="fab fa-instagram"
          ></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
  </div>

</footer>