<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DaBook Shop</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/client_styles/assets/css/base.css" />
    <link rel="stylesheet" href="/client_styles/assets/css/main.css" />
    <link
      rel="stylesheet"
      href="/client_styles/assets/fonts/themify-icons/themify-icons.css"
    />
    <link
      rel="stylesheet"
      href="/client_styles/assets/fonts/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.min.css"
    />
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400&display=swap" rel="stylesheet"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400&display=swap"
      rel="stylesheet"
    />
    <script src="/client_styles/assets/js/client.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

  </head>
  <body>

    {{#if client_accounts}} 
     <div class="app">
      <header class="header ">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
              <li class="header__navbar-item">
                Vào cửa hàng trên ứng dụng DaBook
              </li>
            </ul>
            <ul class="header__navbar-list">
              <div class="header__language-select">
                <span class="header__language-select-label">Ngôn ngữ</span>
                <i class="header__language-select-icon ti-angle-down"></i>
                <ul class="header__language-option">
                  <li
                    class="header__language-option-item header__language-option-item--active">
                    <span>Việt Nam</span>
                    <i class="ti-check"></i>
                  </li>
                  <li class="header__language-option-item">
                    <span>English</span>
                    <i class="ti-check"></i>
                  </li>
                </ul>
              </div>
              <li class="header__navbar-item">
                <div class="header__navbar-item-notify">
                  <div href="" class="header__navbar-item--link">
                    <i class="header__navbar-icon ti-bell"></i>
                    Thông báo
                  </div>
                  <div class="header__notify">
                    <header class="header__notify-header">
                        <h3>Thông báo mới nhận</h3>
                    </header>
                    <ul class="header__notify-list">
                        <li class="header__notify-item header__notify-item--view">
                            <a href="" class="header__notify-link text-decoration-none">
                                <img src="https://rigo.vn/wp-content/uploads/2018/06/74_HarryPottertap7HarryPottervaBaoboiTuthan_rigo.jpg" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Đơn hàng của bạn đang được vận chuyển</span>
                                    <span class="header__notify-descriotion">Harry Potter và bảo bối tử thần</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item">
                            <a href="" class="header__notify-link text-decoration-none">
                                <img src="https://rigo.vn/wp-content/uploads/2018/06/74_HarryPottertap7HarryPottervaBaoboiTuthan_rigo.jpg" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Đơn hàng của bạn đã được xác nhận</span>
                                    <span class="header__notify-descriotion">Harry Potter và bảo bối tử thần</span>
                                </div>
                            </a>
                        </li>
                        <li class="header__notify-item">
                            <a href="" class="header__notify-link text-decoration-none">
                                <img src="/client_styles/assets/img/miễn_phí_vận_chuyển.png" alt="" class="header__notify-img">
                                <div class="header__notify-info">
                                    <span class="header__notify-name">Mã freeship của bạn hết hạn vào ngày 15-11-2021</span>
                                    <span class="header__notify-descriotion">Mã freeship sắp hết hạn. Đừng bỏ lỡ!</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="header__notify-footer">
                        <a href="" class="header__notify-footer-btn text-decoration-none">Xem tất cả</a>
                    </div>
                  </div>
                </div>
              </li>
              <li class="header__navbar-item">
                <a href="" class="header__navbar-item--link">
                  <i class="header__navbar-icon far fa-question-circle"></i>
                  Trợ giúp
                </a>
              </li>
              <li class="header__navbar-item header__navbar-user">
                <img class="header__navbar-user-img" src="https://anhdep123.com/wp-content/uploads/2021/05/hinh-avatar-trang.jpg" alt="">
                <a href="/chitiettk"><p class="header__navbar-user-name header__navbar-item--link">{{client_accounts.matk}}</p><a>
              </li>
               <li class="header__navbar-item">
                 <a href="/logout" class="header__navbar-item--link">               
                  Đăng xuất
                </a>
              </li>
            </ul>
          </nav>
          <!-- header-with-search -->
          <form method="GET" action="/search">
          <div class="header-with-search">
            <div class="header__logo">
              <a href="/" class="header__logo-link">
                <img
                  class="header__logo-img"
                  src="/client_styles/assets/img/logo.png"
                  alt=""
                />
              </a>
            </div>

            <div class="header__search">
              <input
               name="name"
                type="text"
                class="header__search-input"
                placeholder="Nhập sản phẩm muốn tìm kiếm"
              />
              <!-- Select -->
              {{!-- <div class="header__search-select">
                <span class="header__search-select-label">Tìm kiếm theo</span>
                <i class="header__search-select-icon ti-angle-down"></i>
                <ul class="header__search-option">
                  <li class="header__search-option-item">
                    <span>Tên sách</span>
                    <i class="ti-check"></i>
                  </li>
                  <li class="header__search-option-item">
                    <span>Tên tác giả</span>
                    <i class="ti-check"></i>
                  </li>
                </ul>
              </div> --}}

              <!-- Search button -->
              <button type = "submit" class="header__search-btn">
                <i class="header__search-btn-icon fas fa-search"></i>
              </button>
            </div>

            <div class="header__cart">
              <div class="header__cart-wrap">
                <a href="/chitietgiohang" style="text-decoration: none;">
                  <i class="header__cart-icon ti-shopping-cart">
                    <span class="header__cart-notice">{{client_accounts.sl_giohang}}</span>
                  </i>
                </a>
              </div>
            </div>
          </div>
        </form>
        </div>
      </header>
      {{else}}
       <div class="app">
      <header class="header">
        <div class="grid">
          <nav class="header__navbar">
            <ul class="header__navbar-list">
              <li class="header__navbar-item">
                Vào cửa hàng trên ứng dụng DaBook
              </li>
            </ul>
            <ul class="header__navbar-list">
              <div class="header__language-select">
                <span class="header__language-select-label">Ngôn ngữ</span>
                <i class="header__language-select-icon ti-angle-down"></i>
                <ul class="header__language-option">
                  <li
                    class="header__language-option-item header__language-option-item--active">
                    <span>Việt Nam</span>
                    <i class="ti-check"></i>
                  </li>
                  <li class="header__language-option-item">
                    <span>English</span>
                    <i class="ti-check"></i>
                  </li>
                </ul>
              </div>
              <li class="header__navbar-item ">
                <div class="header__navbar-item-notify">
                  <div href="" class="header__navbar-item--link open-login-noti">
                    <i class="header__navbar-icon ti-bell"></i>
                    Thông báo
                  </div>
                  <div class="header__notify">
                    <div class="header__noti--no-noti">
                      <img src="/client_styles/assets/img/Thông_báo.png" alt="" class="header__noti-no-noti-img">
                      <span class="header__noti-no-noti-msg">
                        Đăng nhập để xem Thông báo
                      </span>
                    </div>
                    <hr style="margin: 0">
                    <div class="header__notify-footer-link">
                      <div href="" class="header__notify-footer-link--size">
                        Đăng nhập
                      </div>
                      <div href="" class="header__notify-footer-link--size">
                        Đăng ký
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="header__navbar-item">
                <a href="" class="header__navbar-item--link">
                  <i class="header__navbar-icon far fa-question-circle"></i>
                  Trợ giúp
                </a>
              </li>
              <li class="header__navbar-item header__navbar-item--separate">
                <div href="" class="header__navbar-item--link open-login">
                  Đăng nhập
                </div>
              </li>
              <li class="header__navbar-item">
                <div href="" class="header__navbar-item--link open-signup">
                  Đăng ký
                </div>
              </li>
            </ul>
          </nav>

          <!-- log in -->
          <div class="modal modal__login">
            <div class="modal__overlay"></div>
            <div class="modal__body">
              <!--login form-->
              <div class="auth-form">
                <div class="auth-form__container">
                  <div class="auth-form__header">
                    <h3 class="auth-form__heading">ĐĂNG NHẬP</h3>
                  </div>
                  <div class="modal-close">
                    <i class="ti-close"></i>
                  </div>

                  <form  method="POST" action="/">
                  <div class="auth-form__form">
                    <div class="auth-form__group">
                      <label class="auth-form__label">Tên tài khoản/Email</label>
                      <input
                        name="username"
                        type="text"
                        class="auth-form__input"
                        placeholder="Nhập tên tài khoản hoặc Email"
                      />
                    </div>
                    <div class="auth-form__group">
                      <label class="auth-form__label">Mật khẩu</label>
                      <input
                        name="password"
                        type="text"
                        class="auth-form__input"
                        placeholder="Nhập mật khẩu"
                      />
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="custom-control custom-checkbox">
                      <input
                        type="checkbox"
                        class="control-input"
                        id="customControlInline"
                        style="margin-top: -2px; margin-right: 3px; "
                      />
                      <label
                        class="control-label"
                        for="customControlInline"
                      >Remember me</label>
                    </div>
                  </div>

                  <div class="auth-form__controls">
                    <button class="btn btn--primary btn__login" type="submit">Đăng nhập</button>
                  </div>
                </form>

                  <div class="auth-form__socials">
                    <a
                      href="/auth/facebook"
                      class="auth-form__socials--fb btn btn--with-icon"
                    >
                      <i
                        class="auth-form__socials-icon fab fa-facebook-square"
                      ></i>
                      <span>Đăng nhập với Facebook</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Sign up -->
       <form method="POST" action="/signup">
          <div class="modal modal-logup">
          <div class="modal__overlay"></div>

            <div class="modal__body">
              <!--register form-->
              <div class="auth-form">
                <div class="auth-form__container">
                  <div class="auth-form__header">
                    <h3 class="auth-form__heading">ĐĂNG KÝ</h3>
                  </div>
                  <div class="modals-close">
                    <i class="ti-close"></i>
                  </div>
                  <div class="auth-form__form">
                    <div class="auth-form__group">
                      <label class="auth-form__label">Tên tài khoản</label>
                      <input
                        name="matk"
                        type="text"
                        class="auth-form__input"
                        placeholder="Nhập tên tài khoản"
                        id = "input_tentk"
                      />
                    </div>
                    <div class="auth-form__group">
                      <label class="auth-form__label">Email/Số điện thoại</label>
                      <input
                        name="email"
                        type="text"
                        class="auth-form__input"
                        placeholder="Nhập Email/Số điện thoại"
                        id = "input_lienlac"
                      />
                    </div>
                    <div class="auth-form__group">
                      <label class="auth-form__label">Mật khẩu</label>
                      <input
                        name="matkhau"
                        type="password"
                        class="auth-form__input"
                        placeholder="Nhập mật khẩu"
                        id = "input_nmatkhau"
                      />
                    </div>
                    <div class="auth-form__group">
                      <label class="auth-form__label">Xác nhận mật khẩu</label>
                      <input
                        type="password"
                        class="auth-form__input"
                        placeholder="Nhập lại mật khẩu"
                        id = "input_xacnhanmk"
                      />
                    </div>
                  </div>

                  <div class="auth-form__controls">
                    <button class="btn btn--primary btn__signin" id="dangky" type="submit">Đăng ký</button>
                    <div class="modal-message hide-message" id="message">
                      <div class="modal__inner-message">
                        <div class="modal__body-message">
                          <h2>Đăng ký thành công</h2>
                          <i class="far fa-check-circle" style="color: var(--blue-color); font-size:100px; text-align:center;"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="auth-form__socials">
                    <a
                      href=""
                      class="auth-form__socials--fb btn btn--with-icon">
                      <i class="auth-form__socials-icon fab fa-facebook-square"></i>
                      <span class="auth-form__socials-title">
                        Kết nối với Facebook
                      </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
          <!-- header-with-search -->
          <form method="GET" action="/search">
          <div class="header-with-search">
            <div class="header__logo">
              <a href="/" class="header__logo-link">
                <img
                  class="header__logo-img"
                  src="/client_styles/assets/img/logo.png"
                  alt=""/>
              </a>
            </div>

            <div class="header__search">
              <input
               name="name"
                type="text"
                class="header__search-input"
                placeholder="Nhập sản phẩm muốn tìm kiếm"/>
              <!-- Select -->
              {{!-- <div class="header__search-select">
                <span class="header__search-select-label">Tìm kiếm theo</span>
                <i class="header__search-select-icon ti-angle-down"></i>
                <ul class="header__search-option">
                  <li class="header__search-option-item">
                    <span>Tên sách</span>
                    <i class="ti-check"></i>
                  </li>
                  <li class="header__search-option-item">
                    <span>Tên tác giả</span>
                    <i class="ti-check"></i>
                  </li>
                </ul>
              </div> --}}

              <!-- Search button -->
              <button type = "submit" class="header__search-btn">
                <i class="header__search-btn-icon fas fa-search"></i>
              </button>
            </div>
            <div class="header__cart">
              <div class="header__cart-wrap">
                <i class="header__cart-icon ti-shopping-cart">
                  <span class="header__cart-notice">0</span>
                </i>
              </div>
            </div>
          </div>
        </form>
        </div>
      </header>
      
      <script>
         $(document).ready(function() {
        const login = document.querySelector('.open-login')
        const sign_up = document.querySelector('.open-signup')
        const cart = document.querySelector('.header__cart-icon')
        const notify = document.querySelector('.open-login-noti')
        const modal = document.querySelector('.modal')
        const modals = document.querySelector('.modal-logup')
        const modalClose = document.querySelector('.modal-close')
        const modalsClose = document.querySelector('.modals-close')
        
        function show() {
            modal.classList.add('open')
        }

        function shows() {
            modals.classList.add('open')
        }

        login.addEventListener('click', show)
        sign_up.addEventListener('click', shows)
        cart.addEventListener('click', show)
        notify.addEventListener('click', show)

        function hideshow() {
            modal.classList.remove('open')
        }
        modalClose.addEventListener('click', hideshow)

        function hideshows() {
            modals.classList.remove('open')
        }
        modalsClose.addEventListener('click', hideshows)
         });
    </script>
    {{/if}}

     <script>
        $(document).ready(function() {
        var li=document.getElementsByClassName('header__search-option-item')

        li[0].addEventListener('click',l0_click)

        li[1].addEventListener('click',l1_click)

        function l0_click(){
                li[0].classList.add('header__search-option-item--active')
                li[1].classList.remove('header__search-option-item--active')
        }      

        function l1_click(){
                li[1].classList.add('header__search-option-item--active')
                li[0].classList.remove('header__search-option-item--active')
        }    

    </script>

    <!-- Js tm kiếm  theo -->
    <script>

        var li=document.getElementsByClassName('header__search-option-item')

        li[0].addEventListener('click',l0_click)

        li[1].addEventListener('click',l1_click)

        function l0_click(){
                li[0].classList.add('header__search-option-item--active')
                li[1].classList.remove('header__search-option-item--active')
        }      

        function l1_click(){
                li[1].classList.add('header__search-option-item--active')
                li[0].classList.remove('header__search-option-item--active')
        }    
        });
    </script>

    <!-- Bootstrap js -->
    {{!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> --}}
    {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.x.x/js/swiper.min.js"></script> --}}
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"
    ></script>

    <script>
      $('#dangky').click(function(){
        if($('#input_tentk').val()!=""||$('#input_lienlac').val()!=""||$('#input_nmatkhau').val()!=""||$('#input_xacnhanmk').val()!="")
        {
          $('#message').removeClass('hide-message');
        }
      })
    </script>