<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/client_styles/assets/css/client_styles.css">
    <link rel="stylesheet" href="/client_styles/assets/fonts/themify-icons.css">
    <link rel="stylesheet"
        href="/client_styles/assets/fonts/fontawesome-free-5.15.4/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

</head>

<body>
    <div class="app">
        <header class="header">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">
                            Vào cửa hàng trên ứng dụng DaBook
                        </li>
                    </ul>
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item--link">
                                <i class="header__navbar-icon ti-bell"></i>
                                Thông báo
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item--link">
                                <i class="header__navbar-icon far fa-question-circle"></i>
                                Trợ giúp
                            </a>
                        </li>
                        <li class="header__navbar-item header__navbar-item--separate">
                            <a href="" class="header__navbar-item--link">
                                Đăng nhập
                            </a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="" class="header__navbar-item--link">
                                Đăng ký
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- header-with-search -->
                <div class="header-with-search">
                    <div class="header__logo">
                        <a href="#" class="header__logo-link">
                            <img class="header__logo-img" src="/client_styles/assets/img/logo.png" alt="">
                        </a>
                    </div>

                    <div class="header__search">
                        <input type="text" class="header__search-input" placeholder="Nhập sản phẩm muốn tìm kiếm">
                        <!-- Select -->
                        <div class="header__search-select">
                            <span class="header__search-select-label">Tên sách</span>
                            <i class="header__search-select-icon ti-angle-down"></i>
                            <ul class="header__search-option">
                                <li class="header__search-option-item header__search-option-item--active">
                                    <span>Tên sách</span>
                                    <i class=" ti-check"></i>
                                </li>
                                <li class="header__search-option-item">
                                    <span>Tên tác giả</span>
                                    <i class=" ti-check"></i>
                                </li>
                            </ul>
                        </div>

                        <!-- Search button -->
                        <button class="header__search-btn">
                            <i class="header__search-btn-icon fas fa-search"></i>
                        </button>
                    </div>

                    <div class="header__cart">
                        <i class="header__cart-icon ti-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </header>

        <div class="container">

        </div>

        <footer class="footer">

        </footer>
    </div>
</body>

</html>