<div class="sidebar-container">
    <div class="sidebar-logo">
        Dabook Admin
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Thống Kê</li>
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Số lượng bán ra
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Doanh Thu
            </a>
        </li>
        <li class="header">Quản Lý</li>
        <li>
            <a href="quan-ly-sach">
                <i class="fa fa-users" aria-hidden="true"></i> Sách
            </a>
        </li>
        <li>
            <a href="quan-ly-tai-khoan">
                <i class="fa fa-cog" aria-hidden="true"></i> Tài Khoản
            </a>
        </li>
        <li>
            <a href="quan-ly-hoa-don">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Hóa Đơn
            </a>
        </li>
        <li>
            <a href="quan-ly-khuyen-mai">
                <i class="fa fa-info-circle" aria-hidden="true"></i> Khuyến Mãi
            </a>
        </li>
    </ul>
</div>