/* Thông tin tài khoản */
.account{
    padding: 30px 0;
  }
  
  .account__nav{
    display: block;
  }
  
  .account__nav-user {
    padding: 18px 0;
    display: flex;
    justify-items: center;
    position: relative;
    border-bottom: 0.8px solid #e4e0e0;
  }
  
  .account__nav-user-img {
    width: 50px;
    height: 50px;
    margin-top: -5px;
    border-radius: 50%;
  }
  
  .account__nav-user-name {
    padding-left: 10px;
    margin-left: 4px;
    font-size: 1.6rem;
    font-weight: 600;
    margin-top: 9px;
  }
  
  .account__nav-container{
    margin-top: 10px;
  }
  
  .account__nav-item{
    position: relative;
    font-size: 1.6rem;
    font-weight: 450;
  }
  
  .account__nav-title{
    margin-top: 15px;
  }
  
  .account__nav-title-link{
    text-decoration: none;
  }
  
  .account__nav-title-icon{
      text-align: center;
      min-width: 20px;
      color: #FF6600;
  }
  
  .account__nav-title-text{
      color: rgb(40, 40, 40);
  }
  
  .account__navbar-item-title{
      color: var(--black-color);
  }
  
  .account__nav-list{
      padding-left: 30px;  
      display: none;
  }
  
  .account__nav-list-link{
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 10px; 
      color: rgb(60, 60, 60);
      text-decoration: none;
      display: block;
  }
  
  .account__nav-list-link:hover,
  .account__nav-title-text:hover{
    color: var(--blue-color);
    cursor: pointer;
  }
  
  .account__nav-list-link--active{
    color: var(--blue-color);
    cursor: pointer;
  }
  
  .account__content{
    background-color: var(--white-color);
    border-radius: 3px;
    margin-left: 20px;
    padding: 0 30px;
  }
  
  .account__profile-form{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .account__profile-heading{
    padding: 17px 0;
    border-bottom: 0.8px solid #efefef;
    color: rgb(40, 40, 40);
  }
  
  .account__profile-heading-title{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.9rem;
    margin: 0;
  }
  
  .account__profile-heading-notice{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 5px; 
    margin-bottom: 0;
    text-transform: none;
  }
  
  .account__content-container{
    padding-left: 30px;
  }
  
  .account__content-profile-row{
    margin-bottom: 30px;
  }
  
  .account__content-profile-label{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    min-width: 120px;
    color: rgb(116, 116, 116);
  }
  
  .account__content-profile-text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 20px;
    padding-left: 15px;
    display: inline-block;
    text-transform: none;
  }
  
  .account__content-profile-dropdown {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 1.6rem;
    width: 120px;
    height: 40px;
    border: 0.5px solid rgb(215, 215, 215);
    border-radius: 2px;
  }
  
  .account__content-profile-dropdown:hover{
    border-color: var(--blue-color);
    cursor: pointer;
  }
  
  .account__content-profile-dropdown span{
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1;
    white-space:nowrap;
  }
  
  .account__content-profile-dropdown-icon{
    font-size: 1.2rem;
    margin-top: 3px;
  }
  
  .vertical-menu {
    width: 120px;
    height: 120px;
    overflow-y: auto;
    position: absolute;
    z-index: 600;
    display: none;
  }
  
  .vertical-menu a {
    background-color: var(--white-color);
    color: black;
    display: block;
    padding: 5px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    color: var(--white-color);
  }
  
  .account-btn {
    min-width: 90px;
    height: 40px;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 0 15px;
    font-weight: 400;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--blue-color);
  }
  
  .account-btn:hover {
    color: black;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }
  
  .account__content-address-form{
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .account__address-heading{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #efefef;
    padding: 22px 0;
    height: 80px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .account__address-heading-title{
    flex: 1;
  }
  
  .account__address-info{
    padding: 20px;
    background: #fff;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #efefef;
  }
  
  .account__address-info-content{
    flex: 1;
  }
  
  .account__address-info-content{
    width: 220px;
    height: 100%;
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .account__content-address-row{
    margin-bottom: 10px;
  }
  
  .account__content-address-label{
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 20px;
    min-width: 120px;
    color: rgb(116, 116, 116);
    vertical-align: top;
  }
  
  .account__content-address-text{
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 15px;
    display: inline-block;
    text-transform: none;
    margin: 0;
    line-height: 2rem;
    max-width: 500px;
  }
  
  .account__address-info-btn{
    text-align: right;
  }