/*sale container */
.sale {
background-color:  #F5F5F5;
}

.sale__voucher{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.myvoucher{
  width: 500px;
  padding: 20px;
  display: flex;
  border-radius: 5px;
  border: 2px solid var(--blue-color);
  align-items: center;
  background-color: var(--white-color);
}

.myvoucher span{
  font-size: 2rem;
  font-weight: 500;
  flex: 1;
  text-align: left;
}

.myvoucher i{
  float: right;
  font-size: 2rem;
}

.myvoucher:hover{
  border-color: #f60 ;
  cursor: pointer;
  transform: translateY(-3px);
}

.sale__list {
  display: flex;
  text-align: center;
  padding: 0 50px;
}

.sale__list-container {
  padding: 12px;
  opacity: 0.7;
  margin: 10px 15px;
}

.sale__list-item {
  width: 200px;
  height: 200px;
  display: flex;
  border-radius: 5px;
  border: 5px solid var(--blue-color);
  align-items: center;
  background-color: var(--white-color);
  text-align: center;
  align-items: center;
}

.sale__list-text {
padding: 12px 12px;
font-size: 1.6rem;
font-weight: 400;
color: black;
}

.sale__list-container:hover {
cursor: pointer;
opacity: 1;
}

/* voucher */
.sale__voucher-title {
text-align: center;
margin-top: 24px;
}


.list-card{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.sale__card {
  display: flex;
  max-height: 110px;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  margin: 20px 20px 0 20px;
  box-sizing: border-box;
}

.sale-img{
  flex: 0;
  z-index: 0;
}

.sale__voucher-logo {
  width: 110px;
  padding: 8px;
  background-color: var(--blue-color);
  border-radius: 2px;
  margin-top: -1;
  margin-left: -1;
}

.sale__card-content{
  align-items: center;
  display: flex;
}

.card-container{
  margin-left: 10px;
  width: 200px;
}

.sale__card-text {
  font-size: 1.4rem;
  font-weight: 400;
  flex: 1;
}

.card-button{
  width: 150px;
}

.btn__save {
  float: right;
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  padding: 0 10px;
  margin-right: 20px;
  font-weight: 500;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn__save--primary{
  color: var(--white-color);
  background-color: var(--blue-color);
}

.btn__save--primary:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
  color: var(--white-color);
}

.btn__save--disable{
  cursor: not-allowed;
  opacity: 0.5;
  color: var(--black-color);
  background-color: rgba(0, 0, 0, 0.2);
}

.btn__save--disable:hover{
  text-decoration: none;
  color: var(--black-color);
} 
  