
/* =================== */
* {
    box-sizing: inherit;
    transition:all .2s linear;
}
  
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    min-height: 700px !important;
}

body {
    background-color: #f5f5f5;
}

.cart__container {
    max-width: 1200px;
    min-height: 700px !important;
    margin: 20px auto;  
    overflow: hidden;
    position: relative;
    background-color: #f5f5f5;
    border-radius: 4px;
    /* box-shadow: 0 0.5em 0 rgba(138, 148, 152, 0.2); */
}

.col-8 {
    background-color: #fff;
    margin: 10px 0;
    border-radius: 3px;
    padding: 0;
    padding-bottom: 10px;
}

.shipping__address--header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f3f9fa;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.shipping__address--header h3 {
    font-size: 2.0rem;
}

.shipping__address--header a {
    font-size: 1.6rem;
    text-decoration: none;
}

.shipping__info--user {
    font-size: 1.6rem;
    padding: 10px 0;
}

.shipping__info--user span{
    padding: 10px;
}

.shipping__info span {
    font-size: 1.6rem;
    padding: 10px;
}

.bill__info--product {
    display: flex;
    padding: 20px 20px 0;
}

.col-pro {
    display: flex;
}

.item__name {
    color: #333;
    margin-left: 4px;
    font-size: 1.6rem;
    line-height: 3.0rem;
    align-items: center;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.col-price {
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: 20px;
    margin-left: 20px;
}

.bill__info--time {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 0 100px;
}

.bill__info--time span {
    font-size: 1.7rem;
    font-weight: 500;
    color: #0ac914;
    /* margin-left: 114px; */
}

.delivery__logo {
    width: 120px;
    margin-top: -35px;
    margin-left: 20px;
}

.payment__address--header {
    padding: 10px;
    background-color: #e2fadc;
    align-items: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.payment__info--selection {
    font-size: 1.6rem;
    padding: 10px 10px;
    align-items: center;
}

.pay__img {
    width: 50px;
    margin-left: 10px;
}

.col-4 {
    width: 386px;
    position: absolute;
    right: 0px;
    top: 10px;
    border-radius: 3px;
    background-color: #fff;
}

.cart-store {
    position: absolute;
    background-color: #1A94FF;
    border: 1px solid #1A94FF;
    width: 386px;
    height: 90px;
    left: 0px;
    top: -1px;
    align-items: center;
    padding: 0 40px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px !important;
    display: flex;
    justify-content: space-between;
}

.cart-logo-img {
    width: 110px;
}

.cart-label {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
}

.cart-detail {
    padding-top: 20px;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.cart-delivery {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    font-weight: 500;
    font-size: 1.6rem;
}

.cart-delivery i {
    margin-right: 8px;
    color: rgb(255, 57, 69);
}

.list-cart {
    list-style: none;
    padding: 0 0;
}

.list-cart-item {
    width: 100%;
    padding: 20px 0 ;
    font-weight: 500;
    border-top: 1px solid #43c3c7;
}

.list-cart-item i {
    margin-right: 8px;
    color: #1A94FF;
}

.user__cart-delivery {
    padding: 20px 0;
    font-weight: 500;
    font-size: 1.6rem;
    border-bottom: 1px solid #43c3c7;
}

.cart-price {
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid rgb(255, 57, 69);
    background-color: rgb(255, 240, 241);
    border-radius: 3px;
    color: rgb(255, 57, 69);
    padding: 4px 0;
}

.cart-prices {
    margin-top: 10px;
}

.cart__img{
    display: block;
    object-fit: contain;
    max-height:80px !important;
    max-width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.col .col__checkbox {
    width: 70px !important;
}

.input__sale {
    display: flex;
    justify-content: space-between;
}

.form__code-sale {
    font-size: 1.6rem;
    border-radius: 2px;
    border: solid 1px rgb(255, 57, 69);
    height: 36px;
    align-items: center;
}

.btn__apply {
    width: auto;
    border-radius: 2px;
    background: rgb(255, 57, 69);
    color: #fff;
    padding: 0px 10px;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin-left: 10px;
    border: solid 1px rgb(255, 57, 69); 
    transition: all 0.5s ease-in-out 0s;
    align-items: center;
}

.cart__total {
    margin-top: 20px;
    color: #f34d35;
    font-size: 2.2rem;
    display: flex;
    justify-content: space-between;
}

.cart__sale {
    margin-top: 20px;
    color: #2b2929;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
}

.btn__buy-book {
    position: absolute;
    right: 0px;
    width: 385px;
    margin-top: 20px;
    border-radius: 4px;
    background: rgb(255, 57, 69);
    color: #fff;
    padding: 0px 10px;
    display: inline-block;
    font-size: 1.8rem;
    line-height: 1.6rem;
    margin-left: 10px;
    padding: 10px;
    border: solid 1px rgb(255, 57, 69); 
    transition: all 0.5s ease-in-out 0s;
}