<div class="container-fluid">
  <div class="row">
    <table class="table table-striped custab">
      <thead>
        <a
          href="#"
          class="btn btn-primary btn-xs pull-right"
          style="margin-bottom: 20px;"
        ><b>+</b>
          Thêm hóa đơn</a>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Ngày tạo</th>
          <th>Điểm</th>
          <th>Tình Trang</th>
          <th>Trạng thái</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tr>
        <td>1</td>
        <td>News</td>
        <td>News Cate</td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center"><a class="btn btn-info btn-xs" href="#"><span
              class="glyphicon glyphicon-edit"
            ></span>
            Chỉnh sửa</a>
          <a href="#" class="btn btn-danger btn-xs"><span
              class="glyphicon glyphicon-remove"
            ></span>
            Khóa</a></td>
      </tr>
    </table>
  </div>
</div>