<div class="content-container">

    <div class="container-fluid" style="">
        <div class="container-fluid rounded"
            style="background-color: white; padding-top: 15px; padding-bottom: 15px; width:50%">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Tên Sách</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Tên Sách">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Tác Giả</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Tác Giả">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Thể Loại</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Thể Loại">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Nhà Sản Xuất</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nhà Sản Xuất">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Ngôn Ngữ</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Ngôn Ngữ">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Khu Vực</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Khu Vực">
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Giá</label>
                            <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Giá">
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Số Lượng Tồn</label>
                            <input type="number" class="form-control" id="exampleInputPassword1"
                                placeholder="Số lượng tồn">
                        </div>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>